# 010 :  Who owns the plants and their turbines across the USA --> Footprint of turbine owners
* will be joining turbines --> operators table on eia_id --> plant_id (gives us plant identification and plant name)
* place the plants on a map --> geographic distribution/ density --> get plant_state 
* --> get operator_name, operator_id for each plant.

In [2]:
# import necessary modules
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


%matplotlib inline

# import .csv data

In [3]:
# import turbines data

turbines = pd.read_csv('wind_turbine_20220114.csv')
turbines

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3000001,NaN,NaN,6569.0,54686.0,CA,Kern County,6029,Difwind 6,1987.0,...,NaN,NaN,0,NaN,1,3,2018-11-03,Digital Globe,-118.270027,35.066048
1,3000003,NaN,NaN,3100.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,0,NaN,1,3,2018-11-03,Digital Globe,-118.299385,35.044796
2,3000008,NaN,NaN,3463.0,10597.0,CA,Kern County,6029,Ridgetop,1985.0,...,NaN,NaN,0,NaN,1,3,2018-05-08,Digital Globe,-118.302780,35.078526
3,3000016,NaN,NaN,15543.0,50535.0,CA,Riverside County,6065,Mesa Wind Farm,1983.0,...,183.85,30.4,0,NaN,3,3,2018-11-03,Digital Globe,-116.652931,33.954193
4,3000020,NaN,NaN,1944.0,NaN,AK,Bethel Census Area,2050,Tuntutuliak,2012.0,...,226.98,39.5,0,NaN,3,3,2020-05-19,Digital Globe,-162.661880,60.336800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70803,3118667,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.901253,34.164696
70804,3118668,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.907745,34.103058
70805,3118669,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.915382,34.110283
70806,3118670,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.869209,34.157585
70807,3118671,NaN,NaN,NaN,NaN,NM,Torrance County,35057,unknown Torrance County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-05,Digital Globe,-105.590172,34.613602

In [4]:
# import turbines data

operators = pd.read_csv('eia923_operators.csv')
operators

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_44736\2873213737.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  operators = pd.read_csv('eia923_operators.csv')

,plant_id,combined_heat_and_power_plant,nuclear_unit_id,plant_name,operator_name,operator_id,plant_state,census_region,nerc_region,reserved,...,netgen_september,netgen_october,netgen_november,netgen_december,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mm_btu,elec_fuel_consumption_mm_btu,net_generation_megawatthours,year
0,1,N,.,Sand Point,"TDX Sand Point Generating, LLC",63560,AK,PACN,NaN,NaN,...,24.0,29.0,33.0,31.0,0,0,3045,3045,347.0,2020
1,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,9187.0,9137.0,10514.0,10936.0,0,0,1220939,1220939,139170.0,2020
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,254351.0,220717.0,248068.0,227801.0,1219642,1219642,1243854,1243854,2633517.0,2020
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,486059.0,420338.0,483657.0,455550.0,52001418,52001418,53006762,53006762,5084350.0,2020
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,347191.0,424258.0,335570.0,144471.0,1292499,1292499,26188716,26188716,2625835.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15110,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,NV,MTN,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,279086,279086,31812.0,2020
15111,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,MD,SAT,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,76102,76102,8675.0,2020
15112,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,NH,NEW,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,84267,84267,9605.0,2020
15113,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,MA,NEW,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,6973,6973,795.0,2020
15114,99999,N,.,State-Fuel Level Increment,State-Fuel Level Increment,99999,ID,MTN,NaN,NaN,...,0.0,0.0,0.0,0.0,0,0,39234,39234,4472.0,2020

# general info on each data frame
* rows and cols
* data type in each col

In [5]:
turbines.shape

(70808, 27)

In [15]:
turbines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70808 entries, 0 to 70807
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   case_id        70808 non-null  int64
 1   faa_ors        65016 non-null  object
 2   faa_asn        65686 non-null  object
 3   usgs_pr_id     38263 non-null  float64
 4   eia_id         65015 non-null  float64
 5   t_state        70808 non-null  object
 6   t_county       70808 non-null  object
 7   t_fips         70808 non-null  int64
 8   p_name         70808 non-null  object
 9   p_year         70195 non-null  float64
 10  p_tnum         70808 non-null  int64
 11  p_cap          66326 non-null  float64
 12  t_manu         65168 non-null  object
 13  t_model        65031 non-null  object
 14  t_cap          65328 non-null  float64
 15  t_hh           64628 non-null  float64
 16  t_rd           64874 non-null  float64
 17  t_rsa          64874 non-null  float64
 18  t_ttlh         64628 non-null  float64
 19  retrofit       70808 non-null  int64
 20  retrofit_year  5986 non-null   float64
 21  t_conf_atr     70808 non-null  int64
 22  t_conf_loc     70808 non-null  int64
 23  t_img_date     62492 non-null  object
 24  t_img_srce     70808 non-null  object
 25  xlong          70808 non-null  float64
 26  ylat           70808 non-null  float64
dtypes: float64(12), int64(6), object(9)
memory usage: 14.6+ MB

In [6]:
operators.shape

(15115, 97)

In [16]:
operators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15115 entries, 0 to 15114
Data columns (total 97 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   plant_id                            15115 non-null  int64
 1   combined_heat_and_power_plant       15115 non-null  object
 2   nuclear_unit_id                     15115 non-null  object
 3   plant_name                          15114 non-null  object
 4   operator_name                       15114 non-null  object
 5   operator_id                         15115 non-null  object
 6   plant_state                         15114 non-null  object
 7   census_region                       15115 non-null  object
 8   nerc_region                         14550 non-null  object
 9   reserved                            0 non-null      float64
 10  naics_code                          15115 non-null  int64
 11  eia_sector_number                   15115 non-null  int64
 12  sector_name                         15115 non-null  object
 13  reported_prime_mover                15115 non-null  object
 14  reported_fuel_type_code             15115 non-null  object
 15  aer_fuel_type_code                  15115 non-null  object
 16  balancing_authority_code            14724 non-null  object
 17  respondent_frequency                14953 non-null  object
 18  physical_unit_label                 8234 non-null   object
 19  quantity_january                    15115 non-null  int64
 20  quantity_february                   15115 non-null  int64
 21  quantity_march                      15115 non-null  int64
 22  quantity_april                      15115 non-null  int64
 23  quantity_may                        15115 non-null  int64
 24  quantity_june                       15115 non-null  int64
 25  quantity_july                       15115 non-null  int64
 26  quantity_august                     15115 non-null  int64
 27  quantity_september                  15115 non-null  int64
 28  quantity_october                    15115 non-null  int64
 29  quantity_november                   15115 non-null  int64
 30  quantity_december                   15115 non-null  int64
 31  elec_quantity_january               15115 non-null  int64
 32  elec_quantity_february              15115 non-null  int64
 33  elec_quantity_march                 15115 non-null  int64
 34  elec_quantity_april                 15115 non-null  int64
 35  elec_quantity_may                   15115 non-null  int64
 36  elec_quantity_june                  15115 non-null  int64
 37  elec_quantity_july                  15115 non-null  int64
 38  elec_quantity_august                15115 non-null  int64
 39  elec_quantity_september             15115 non-null  int64
 40  elec_quantity_october               15115 non-null  int64
 41  elec_quantity_november              15115 non-null  int64
 42  elec_quantity_december              15115 non-null  int64
 43  mm_btu_per_unit_january             15115 non-null  float64
 44  mm_btu_per_unit_february            15115 non-null  float64
 45  mm_btu_per_unit_march               15115 non-null  float64
 46  mm_btu_per_unit_april               15115 non-null  float64
 47  mm_btu_per_unit_may                 15115 non-null  float64
 48  mm_btu_per_unit_june                15115 non-null  float64
 49  mm_btu_per_unit_july                15115 non-null  float64
 50  mm_btu_per_unit_august              15115 non-null  float64
 51  mm_btu_per_unit_september           15115 non-null  float64
 52  mm_btu_per_unit_october             15115 non-null  float64
 53  mm_btu_per_unit_november            15115 non-null  float64
 54  mm_btu_per_unit_december            15115 non-null  float64
 55  tot_mm_btu_january                  15115 non-null  int64
 56  tot_mm_btu_february                 15115 non-null  int64
 57  tot_mm_btu_march                    15115 non-null  int64
 58  tot_mm_btu_april                    15115 non-null  int64
 59  tot_mm_btu_may                      15115 non-null  int64
 60  tot_mm_btu_june                     15115 non-null  int64
 61  tot_mm_btu_july                     15115 non-null  int64
 62  tot_mm_btu_august                   15115 non-null  int64
 63  tot_mm_btu_september                15115 non-null  int64
 64  tot_mm_btu_october                  15115 non-null  int64
 65  tot_mm_btu_november                 15115 non-null  int64
 66  tot_mm_btu_december                 15115 non-null  int64
 67  elec_mm_btu_january                 15115 non-null  int64
 68  elec_mm_btu_february                15115 non-null  int64
 69  elec_mm_btu_march                   15115 non-null  int64
 70  elec_mm_btu_april                   15115 non-null  int64
 71  elec_mm_btu_may                     15115 non-null  int64
 72  elec_mm_btu_june                    15115 non-null  int64
 73  elec_mm_btu_july                    15115 non-null  int64
 74  elec_mm_btu_august                  15115 non-null  int64
 75  elec_mm_btu_september               15115 non-null  int64
 76  elec_mm_btu_october                 15115 non-null  int64
 77  elec_mm_btu_november                15115 non-null  int64
 78  elec_mm_btu_december                15115 non-null  int64
 79  netgen_january                      15115 non-null  float64
 80  netgen_february                     15115 non-null  float64
 81  netgen_march                        15115 non-null  float64
 82  netgen_april                        15115 non-null  float64
 83  netgen_may                          15115 non-null  float64
 84  netgen_june                         15115 non-null  float64
 85  netgen_july                         15115 non-null  float64
 86  netgen_august                       15115 non-null  float64
 87  netgen_september                    15115 non-null  float64
 88  netgen_october                      15115 non-null  float64
 89  netgen_november                     15115 non-null  float64
 90  netgen_december                     15115 non-null  float64
 91  total_fuel_consumption_quantity     15115 non-null  int64
 92  electric_fuel_consumption_quantity  15115 non-null  int64
 93  total_fuel_consumption_mm_btu       15115 non-null  int64
 94  elec_fuel_consumption_mm_btu        15115 non-null  int64
 95  net_generation_megawatthours        15115 non-null  float64
 96  year                                15115 non-null  int64
dtypes: float64(26), int64(56), object(15)
memory usage: 11.2+ MB

# count eia_id nulls

In [10]:
# count nulls in eia_id
eia_id_nulls = turbines['eia_id'].isnull().sum()
print(eia_id_nulls)

5793

In [9]:
# count values --> string "NULL" in eia_id
# remember conditionals are in parentheses (      )
eia_id_nulls_String = (turbines['eia_id'] == 'NULL').sum()
print(eia_id_nulls_String)

# there are no 'NULL' string values -->

0

In [14]:
# get percentage of nulls in eia_id

percent_eia_nulls = eia_id_nulls / turbines.shape[0] * 100
percent_eia_nulls

8.1812789515309

8.18% nulls in eia_id

### are projects the same as plants?
* ie is there only 1 plant_id per p_name (project name)
* in turbines : group by p_name --> then do a count of plant_id ==> it should be 1 if they are the same.

*Answer* --> no, not all of the p_names (turbines) have a corresponding plant_name (operators).  The names do not match.

In [18]:
# count 'unknown' in p_name

p_name_unknown =  turbines['p_name'].str.contains('unknown', case=False).sum()
print(p_name_unknown)

# so there are less p_name unknowns than there are eia_id nulls

# but it seems that even

4535

In [21]:
turbines_unique_p_name = turbines['p_name'].value_counts()
turbines_unique_p_name

# 1708 unique project names

p_name
unknown Tehachapi Wind Resource Area 1        713
Stateline Wind Project                        454
Mesa Wind Farm                                432
unknown Torrance County                       355
Mojave 16, 17 & 18 (Desertwind III PPC Tru    288
                                             ...
Teichert Aggregates                             1
GobNob                                          1
BTI Wind                                        1
Brookfield Tehachapi 3                          1
unknown Lyon County                             1
Name: count, Length: 1708, dtype: int64

In [23]:
operators_unique_plant_name = operators['plant_name'].value_counts()
operators_unique_plant_name

plant_name
State-Fuel Level Increment       162
Mansfield Mill                    11
Haynes                            11
St Clair                          11
Paradise                          10
                                ...
WWRF Solar Plant                   1
Panther Creek Wind Farm II         1
Panther Creek Wind Farm I          1
FPL Energy Ashtabula Wind LLC      1
EQX005.0 Toyama Fuel Cell          1
Name: count, Length: 10448, dtype: int64

In [24]:
# create data frame with eia_id null rows removed
turbines_nullRem = turbines.dropna(subset=['eia_id']).copy()
turbines_nullRem

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3000001,NaN,NaN,6569.0,54686.0,CA,Kern County,6029,Difwind 6,1987.0,...,NaN,NaN,0,NaN,1,3,2018-11-03,Digital Globe,-118.270027,35.066048
2,3000008,NaN,NaN,3463.0,10597.0,CA,Kern County,6029,Ridgetop,1985.0,...,NaN,NaN,0,NaN,1,3,2018-05-08,Digital Globe,-118.302780,35.078526
3,3000016,NaN,NaN,15543.0,50535.0,CA,Riverside County,6065,Mesa Wind Farm,1983.0,...,183.85,30.4,0,NaN,3,3,2018-11-03,Digital Globe,-116.652931,33.954193
5,3000025,NaN,NaN,12159.0,10005.0,CA,Merced County,6047,Dinosaur Point,1988.0,...,NaN,NaN,0,NaN,1,3,2018-09-19,Digital Globe,-121.170876,37.035725
8,3000039,NaN,NaN,15579.0,50535.0,CA,Riverside County,6065,Mesa Wind Farm,1983.0,...,183.85,30.4,0,NaN,3,3,2018-11-03,Digital Globe,-116.658089,33.958694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70626,3117926,40-003040,2020-WTW-1408-OE,NaN,56335.0,OK,Kiowa County,40075,Blue Canyon II,2005.0,...,5026.55,107.0,0,NaN,3,3,2021-10-06,Digital Globe,-98.642632,34.884048
70639,3117954,27-002696,2020-WTE-1999-OE,NaN,56424.0,MN,Mower County,27099,Mower County,2006.0,...,9160.88,134.0,1,2020.0,2,3,2020-07-31,Digital Globe,-92.654350,43.566082
70682,3118028,36-020197,2019-WTE-8213-OE,NaN,56575.0,NY,Erie County,36029,Steel Winds,2007.0,...,6792.91,126.5,0,NaN,3,3,2021-11-24,Digital Globe,-78.864914,42.813736
70760,3118173,04-020391,2020-WTW-850-OE,NaN,58155.0,AZ,Coconino County,4005,Perrin Ranch,2012.0,...,5345.62,121.3,0,NaN,3,3,2019-10-20,Digital Globe,-112.296204,35.417610
70773,3118363,19-022438,NaN,NaN,57875.0,IA,Adair County,19001,Morning Light,2012.0,...,9160.88,134.1,0,NaN,2,3,2020-08-18,Digital Globe,-94.574005,41.401367

In [26]:
# rename column eia_id to plant_id
turbines_nullRem = turbines_nullRem.rename(columns={'eia_id': 'plant_id'})

In [25]:
# create data frame with the removed rows from the step above
# ie rows with a null eia
# we will use p_name --> project name to join these to operators df

turbines_null_eia = turbines[turbines['eia_id'].isnull()].copy()
turbines_null_eia

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
1,3000003,NaN,NaN,3100.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,0,NaN,1,3,2018-11-03,Digital Globe,-118.299385,35.044796
4,3000020,NaN,NaN,1944.0,NaN,AK,Bethel Census Area,2050,Tuntutuliak,2012.0,...,226.98,39.5,0,NaN,3,3,2020-05-19,Digital Globe,-162.661880,60.336800
6,3000026,NaN,NaN,6696.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,0,NaN,1,3,2018-11-03,Digital Globe,-118.267090,35.072395
7,3000034,NaN,NaN,5183.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,0,NaN,1,3,2018-05-08,Digital Globe,-118.370842,35.073112
9,3000053,NaN,NaN,6912.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,0,NaN,1,3,2018-10-28,Digital Globe,-118.253685,35.079994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70803,3118667,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.901253,34.164696
70804,3118668,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.907745,34.103058
70805,3118669,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.915382,34.110283
70806,3118670,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-02,Digital Globe,-108.869209,34.157585
70807,3118671,NaN,NaN,NaN,NaN,NM,Torrance County,35057,unknown Torrance County,NaN,...,NaN,NaN,0,NaN,1,3,2021-12-05,Digital Globe,-105.590172,34.613602

# join .csv data
* join on LHS table:  (turbines) --> plant_id  = plant identification number
* join on RHS table:  (operators) --> plant_id

In [27]:
# rename turbines['eia_id'] --> turbines['plant_id']
turbines = turbines.rename(columns={'eia_id': 'plant_id'})

In [29]:
# do a left join turbines --> operators on 'plant_id'
# this will produce nulls in the plant_id col

turbines_combined = pd.merge(turbines,operators, on='plant_id', how='left')
turbines_combined

,case_id,faa_ors,faa_asn,usgs_pr_id,plant_id,t_state,t_county,t_fips,p_name,p_year,...,netgen_september,netgen_october,netgen_november,netgen_december,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mm_btu,elec_fuel_consumption_mm_btu,net_generation_megawatthours,year
0,3000001,NaN,NaN,6569.0,54686.0,CA,Kern County,6029,Difwind 6,1987.0,...,1441.0,1570.0,1202.0,1180.0,0.0,0.0,215326.0,215326.0,24544.0,2020.0
1,3000003,NaN,NaN,3100.0,NaN,CA,Kern County,6029,unknown Tehachapi Wind Resource Area 1,1982.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3000008,NaN,NaN,3463.0,10597.0,CA,Kern County,6029,Ridgetop,1985.0,...,2317.0,2525.0,1932.0,1897.0,0.0,0.0,346165.0,346165.0,39458.0,2020.0
3,3000016,NaN,NaN,15543.0,50535.0,CA,Riverside County,6065,Mesa Wind Farm,1983.0,...,48.0,52.0,40.0,39.0,0.0,0.0,7124.0,7124.0,812.0,2020.0
4,3000020,NaN,NaN,1944.0,NaN,AK,Bethel Census Area,2050,Tuntutuliak,2012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71820,3118667,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71821,3118668,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71822,3118669,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71823,3118670,NaN,NaN,NaN,NaN,NM,Catron County,35003,unknown Catron County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71824,3118671,NaN,NaN,NaN,NaN,NM,Torrance County,35057,unknown Torrance County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### get percentage of null plant_id in the resultant combined df

In [30]:


# count nulls in plant_id
plant_id_nulls = turbines_combined['plant_id'].isnull().sum()
print(plant_id_nulls)

percent_plant_nulls = plant_id_nulls / turbines_combined.shape[0] * 100
print(percent_plant_nulls)
print(percent_eia_nulls)

5793
8.065436825617821
8.1812789515309

In [31]:
# rename cols
# p_name--> project_name
# t_state --> state
# t_county --> county

turbines_combined = turbines_combined.rename(columns={
    'p_name': 'project_name',
    't_state': 'state',
    't_county': 'county'
})

# drop the redundant cols

In [32]:
selected_columns = ['plant_id', 'project_name', 'plant_name', 'operator_name', 'xlong', 'ylat', 'operator_id', 'state', 'county', 'p_tnum']

turbines_combined = turbines_combined[selected_columns]
turbines_combined

,plant_id,project_name,plant_name,operator_name,xlong,ylat,operator_id,state,county,p_tnum
0,54686.0,Difwind 6,Difwind Farms Ltd VI,Terra-Gen Operating Co-Wind,-118.270027,35.066048,2770,CA,Kern County,250
1,NaN,unknown Tehachapi Wind Resource Area 1,NaN,NaN,-118.299385,35.044796,NaN,CA,Kern County,713
2,10597.0,Ridgetop,Ridgetop Energy LLC,Terra-Gen Operating Co-Wind,-118.302780,35.078526,2770,CA,Kern County,236
3,50535.0,Mesa Wind Farm,Mesa Wind Power Corp,Brookfield Renewable Trading and Marketing LP,-116.652931,33.954193,63235,CA,Riverside County,460
4,NaN,Tuntutuliak,NaN,NaN,-162.661880,60.336800,NaN,AK,Bethel Census Area,5
...,...,...,...,...,...,...,...,...,...,...
71820,NaN,unknown Catron County,NaN,NaN,-108.901253,34.164696,NaN,NM,Catron County,34
71821,NaN,unknown Catron County,NaN,NaN,-108.907745,34.103058,NaN,NM,Catron County,34
71822,NaN,unknown Catron County,NaN,NaN,-108.915382,34.110283,NaN,NM,Catron County,34
71823,NaN,unknown Catron County,NaN,NaN,-108.869209,34.157585,NaN,NM,Catron County,34
71824,NaN,unknown Torrance County,NaN,NaN,-105.590172,34.613602,NaN,NM,Torrance County,355

### reorder cols

In [34]:
column_order = ['plant_id', 'plant_name', 'project_name', 'operator_name', 'operator_id', 'state', 'county', 'xlong', 'ylat', 'p_tnum']
turbines_combined = turbines_combined[column_order]
turbines_combined

,plant_id,plant_name,project_name,operator_name,operator_id,state,county,xlong,ylat,p_tnum
0,54686.0,Difwind Farms Ltd VI,Difwind 6,Terra-Gen Operating Co-Wind,2770,CA,Kern County,-118.270027,35.066048,250
1,NaN,NaN,unknown Tehachapi Wind Resource Area 1,NaN,NaN,CA,Kern County,-118.299385,35.044796,713
2,10597.0,Ridgetop Energy LLC,Ridgetop,Terra-Gen Operating Co-Wind,2770,CA,Kern County,-118.302780,35.078526,236
3,50535.0,Mesa Wind Power Corp,Mesa Wind Farm,Brookfield Renewable Trading and Marketing LP,63235,CA,Riverside County,-116.652931,33.954193,460
4,NaN,NaN,Tuntutuliak,NaN,NaN,AK,Bethel Census Area,-162.661880,60.336800,5
...,...,...,...,...,...,...,...,...,...,...
71820,NaN,NaN,unknown Catron County,NaN,NaN,NM,Catron County,-108.901253,34.164696,34
71821,NaN,NaN,unknown Catron County,NaN,NaN,NM,Catron County,-108.907745,34.103058,34
71822,NaN,NaN,unknown Catron County,NaN,NaN,NM,Catron County,-108.915382,34.110283,34
71823,NaN,NaN,unknown Catron County,NaN,NaN,NM,Catron County,-108.869209,34.157585,34
71824,NaN,NaN,unknown Torrance County,NaN,NaN,NM,Torrance County,-105.590172,34.613602,355

### fill where operator_name is null with 'unknown'

In [35]:
turbines_combined['operator_name'] = turbines_combined['operator_name'].fillna('unknown')
turbines_combined

,plant_id,plant_name,project_name,operator_name,operator_id,state,county,xlong,ylat,p_tnum
0,54686.0,Difwind Farms Ltd VI,Difwind 6,Terra-Gen Operating Co-Wind,2770,CA,Kern County,-118.270027,35.066048,250
1,NaN,NaN,unknown Tehachapi Wind Resource Area 1,unknown,NaN,CA,Kern County,-118.299385,35.044796,713
2,10597.0,Ridgetop Energy LLC,Ridgetop,Terra-Gen Operating Co-Wind,2770,CA,Kern County,-118.302780,35.078526,236
3,50535.0,Mesa Wind Power Corp,Mesa Wind Farm,Brookfield Renewable Trading and Marketing LP,63235,CA,Riverside County,-116.652931,33.954193,460
4,NaN,NaN,Tuntutuliak,unknown,NaN,AK,Bethel Census Area,-162.661880,60.336800,5
...,...,...,...,...,...,...,...,...,...,...
71820,NaN,NaN,unknown Catron County,unknown,NaN,NM,Catron County,-108.901253,34.164696,34
71821,NaN,NaN,unknown Catron County,unknown,NaN,NM,Catron County,-108.907745,34.103058,34
71822,NaN,NaN,unknown Catron County,unknown,NaN,NM,Catron County,-108.915382,34.110283,34
71823,NaN,NaN,unknown Catron County,unknown,NaN,NM,Catron County,-108.869209,34.157585,34
71824,NaN,NaN,unknown Torrance County,unknown,NaN,NM,Torrance County,-105.590172,34.613602,355

# write to csv

In [37]:
turbines_combined.to_csv('turbines_data_cleaned.csv', index=False)

### save all the required modules that I have been using for this project

pip freeze > requirements.txt

In [38]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.